<h1>About our Bike Tour</h1>
<p>Setting of the Bike Tour</p>
<h1>Setting</h1>
<h2>We will start at  <%= Time.now %> with the tour</h2>
<p> We will start at the castle of ebs </p>

<%= image_tag("ebs.jpg", class: "img-responsive my-image") %>